In [1]:
import numpy as np 
import pandas as pd
import os

for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
df = pd.read_csv('/kaggle/input/bitpeak/BCL_TaskCreation.csv')
df
# columns are split incorrectly, commas should be used, not semicolons
# there are 1 column and 160735 rows in the table now, there should be 3 rows 
# after the columns are split

In [3]:
df = pd.read_csv('/kaggle/input/bitpeak/BCL_TaskCreation.csv',delimiter=';')
df
# I used a delimiter to properly separate the columns
# now table has 3 columns with headers dataStream, rowCount and probingTimestamp

In [4]:
df[['Date','Time']] = df['probingTimestamp'].str.split(' ', expand=True)
df.drop('probingTimestamp', inplace=True, axis=1)
df

# I split the probingTimestamp column containing date and time together into two separate columns:
# 'Date' and 'Time'
# I removed the original column (probingTimestamp) to avoid repeating the same data
# table has 4 columns and 160735 rows

In [5]:
df['dataStream'].unique()
# I checked to see if it was worth leaving the 'dataStream' column 
# I used a function to check the number of unique values in a cell
# the output told me that the cell named 'BCL_TaskCreation' repeats 160734 times
# so from the beginning (without header of course) to the last index the cells are the same

In [6]:
# I decided to remove the 'dataStream' column due to its worthless nature in this table

df.drop('dataStream', inplace=True, axis=1)
df

In [7]:
df.sort_values(by=['Time'], inplace=True)
df
# there is no specific hourly time, from the beginning of the day to the end of the day

In [8]:
df.sort_values(by=['Date','Time'], inplace=True)
df
# I noticed that the data in the table is not sorted in any way
# you can see above in the 'Date' column in rows 1, 2 and 3 that the dates are not in sequence
# I came to the conclusion to sort the table by cells from the earliest date to the oldest
# and from earliest time to latest time

In [9]:
df.index = range(0,160735) # druga liczba range nie uwzględnia liczby, więc dodałem 1 
df
# I corrected the row names so that the indexing is from zero upwards

In [10]:
# powyżej widoczne jest, że komórki w kolumnie 'rowCount' nie są unikalne - powtarzają się
df.groupby(['rowCount', 'Date']).size()

# I checked that each date has a unique value from the 'rowCount' column and from analyzing
# of the following output that the rowCount value is not specified for a particular date

In [11]:
df['Date'].unique()

# the values in the rowCount column are assigned to each day in the closed interval 
# from 2020-01-10 to 2020-05-02

In [12]:
df

### SUMMARY
#
# The task solved by Matthew Buziak 
#
# table after cleaning has 3 columns and 160735 rows
#
# 
# What I did with the table itself:
# - I split the columns from the incorrectly saved csv file, 
# - split the probingTimestamp column into 2 other columns and deleted the probingTimestamp column, 
# deleted the dataStream column,
# - I sorted the rows from the smallest values (priority) Date and Time from the smallest
# value to the highest value, 
# - I fixed the indexing of all rows after sorting.